<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<p> Yay you're an admin!</p>
<p><a href="/addquestion">Add a new question</a></p>
<div th:switch="${questions}">
    <h2 th:case="null">No questions yet!</h2>
    <div th:case="*">
        <h2>Questions</h2>
        <table>
            <thead>
            <tr>
                <th>Question</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="q : ${questions}">
                <td th:text="${q.questionText}"></td>
                <td th:text="${q.ID}"></td>
                <td><a th:href="@{/delete/{id}(id=${q.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>