<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title>Quiz</title>
    </head>
    <body>
        <header>
            <div th:include="generalComponents :: headerContent"></div>
        </header>
        <div class="container main">
            <div th:switch="${questions}" class="container second">
                <div th:case="null" class="container pseudoRow">
                    <h2>Two player, now it's your turn</h2>
                    <h2> Questions </h2>
                    <div th:each="q:${questions}">
                        <h2 th:text="${q.questionText}"></h2>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionA}"></button>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionB}"></button>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionC}"></button>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionD}"></button>
                    </div>
                </div>
                <div th:case="*" class="container pseudoRow">
                    <h2> Questions </h2>
                    <div th:each="q:${questions}">
                        <h2 th:text="${q.questionText}"></h2>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionA}"></button>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionB}"></button>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionC}"></button>
                        <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionD}"></button>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="generalComponents :: footer"></th:block>
    </body>
</html>