<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

<div th:switch="${questions}">
    <div th:case="null">
    <h2>Quiz over!</h2>
    <p><a href="/quiz">Play a new game</a></p>
        <p><a href="/">Quit</a></p>

    </div>
    <div th:case="*">
        <h2> Questions </h2>
        <div th:each="q:${questions}">
        <h2 th:text="${q.questionText}"></h2>
        <button th:onclick="|window.location.href='/category/${q.categoryID}'|" th:text="${q.optionA}"></button>
        <button th:onclick="|window.location.href='/category/${q.categoryID}'|" th:text="${q.optionB}"></button>
        <button th:onclick="|window.location.href='/category/${q.categoryID}'|" th:text="${q.optionC}"></button>
        <button th:onclick="|window.location.href='/category/${q.categoryID}'|" th:text="${q.optionD}"></button>
        </div>
    </div>

</div>
</body>
</html>