<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title></title>
    </head>
    <body>
        <ul th:fragment="headerContent">
            <a th:href="@{/user}" class="button">Home</a>
            <a th:href="@{/accountPage}" class="button">Game statistics</a>
            <a th:href="@{/topscores}" class="button">Top scores</a>
        </ul>
    <table>

    </table>

    <form>

    </form>

    <footer th:fragment="footer"></footer>
    </body>
</html>