<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

<div th:switch="${questions}">
    <h2 th:case="null">No questions yet!</h2>
    <div th:case="*">
        <h2> Pick a category! </h2>
        <form th:action="@{/}" th:each="c:${categories}">
            <button th:onclick="|window.location.href='/'|" th:each="c:${categories}" th:text="${c.categoryName}"></button>
        </form>
    </div>
    <p><a href="/addquestion">Add a new question</a></p>

</div>
</body>
</html>