<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>What user is logged in?</title>
</head>
<body>
<h2 th:text="'Hello ' + ${LoggedInUser.username}"></h2>
<p> Welcome to Think Fast, a super amazing quiz game, now lets play!</p>
<p>Pick a one or two player game</p>
<form  th:action="@{/quiz}" method="get">
<input type="radio" id="one" name="one" value="one">
<label for="one">One player</label>
<input type="radio" id="two" name="two" value="two">
<label for="two">Two player</label>
  <button>Start quiz</button>
</form>
<p><a href="/">Back</a></p>

</body>
</html>