<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title>Quiz</title>
    </head>
    <body>

        <header>
            <a th:href="@{/}" class="button">Home</a>
            <a href="/accountPage" class="button">My Account</a>
            <a th:href="@{/topscores}" class="button">Top scores</a>
            <a th:href="@{/logout}" class="button">Log out</a>
        </header>

        <div class="container main">
            <div th:switch="${categories}" class="container second">
                <h2 th:case="null" class="container pseudoRow">No questions yet!</h2>
                <div th:case="*" class="container pseudoRow">
                    <h2> Pick a category! </h2>
                    <div class="twoColForm">
                        <form th:each="c:${categories}" th:action="@{'/category/'+${c.ID}}" method="get">
                            <button th:text="${c.categoryName}" class="button"></button>
                        </form>
                    </div>
                </div>
                <a th:href="@{/user}" class="button">Back</a>
                <a th:href="@{/}" class="button">Quit</a>
            </div>
        </div>

        <th:block th:insert="generalComponents :: footer"></th:block>
    </body>
</html>