<html xmlns:th="https://thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title>Signup</title>
    </head>
    <body>
        <header>
            <a th:href="@{/}" class="button">Home</a>
            <a href="/accountPage" class="button">My Account</a>
            <a th:href="@{/topscores}" class="button">Top scores</a>
            <a th:href="@{/logout}" class="button">Log out</a>
        </header>
        <div class="container main">
            <div class="container second">
                <h2>Signup for an account</h2>

                <span th:if="${alreadyExistsInput}">
                    <span th:text="'Username already exists'"></span>
                </span>

                <form action="#" th:action="@{/signup}" th:object="${account}"  method="post" class="form">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" th:field="*{username}"/>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" th:value="*{password}"/>
                    <input type="submit" value="Sign up" class="button"/>
                    <a th:href="@{/}" class="button">Back</a>
                </form>
            </div>
        </div>
        <th:block th:insert="generalComponents :: footer"></th:block>
    </body>
</html>