/*general*/
*{
    padding: 0;
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, p{
    padding: 0.5rem 1.5rem;
    margin:  0.5rem 1.5rem;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

.wrong {
    color: red;
}

.right {
    color: green;
}


.test{/*check if changes show up*/
    background-color: deepskyblue;
    color: deeppink;
}

/*header and footer*/
header, footer{
    height: 8vh;
    width: 100%;
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0.25rem 0.5rem;
}

/*body*/
.container{
    min-height: 84vh;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.main{
    width: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.second{
    width: 50%;
    background: rgba(255,140,0,0.60);
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.pseudoRow{
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.pseudoCol{
    flex-direction: row;
    justify-content: space-around;
}

.pseudoCol>*{
    width: 48%;
}

form, table {
    width: 80%;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.form, table{
    flex-direction: column;
    justify-content: center;
}

.twoColForm {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.twoColForm>*{
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
}

.twoColForm>h2{
    width: 100%;
    text-align: center;
}

.twoColForm>.button, .twoColForm>button, .twoColForm>form{
    width: 45%;
}

.form>*{
    width: 10rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
}

.form input[name=username], .form input[name=password]{
    border: 0.25rem solid #ccc;
    border-radius: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form input[name=username]:focus, .form input[name=password]:focus{
    border: 0.25rem solid #555;
}

.tableItems{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.tableItem{
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
}

button, .button {
    width: 10rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    background-color: darkorange;
    border: 0.25rem solid white;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: deepskyblue;
    color: black;
}