<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
    <title>About SmileyCoin</title>
</head>
<body>
<header>
    <span th:include="generalComponents :: headerContent"></span>
</header>
<div class="container main">
    <div class="container second">
        <div class="image"></div>
        <h1>About SmileyCoin</h1>
        <div class="container col">
            <p>The SmileyCoin was launched in 2014 and is designed for education and charity. It works just like any other electronic currencies such as Bitcoin or Litecoin. It was originally developed to test the effects of cryptocurrency rewards in the tutor-web system, an online educational system. Since the tutor web system is completely open, this also gives open access to anyone wanting to earn SMLY for their studies.</p>
            <p>The long term goal is to extend the use of tutor-web and SmileyCoin through Education in a Suitcase, the Smiley charity program, so students in low income regions can earn the equivalent of 1$ per day through studying in the system. The charity efforts are coordinated by the Smiley Charity and the African Maths Initiative, and pay parts forward to other charities such as UNICEF and AMI. </p>
            <p>The SmileyCoin coinbase is split: miner receives 10% and 45% become automatic donations in 10 income streams handled by the Smiley Charity. The remaining 45% are automatic dividends to addresses holding more than 25M SMLY. </p>
        </div>
    </div>
</div>
<th:block th:insert="generalComponents :: footer"> </th:block>
</body>
</html>
</html>