<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
    <title>About SmileyCoin</title>
</head>
<body>
<header>
    <span th:include="generalComponents :: headerContent"></span>
</header>
<div class="container main">
    <div class="container second">
        <h1>Coming soon</h1>
    </div>
</div>
<th:block th:insert="generalComponents :: footer"> </th:block>
</body>
</html>
</html>