<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
    <title>Title</title>
</head>
<body>
<header>
    <span th:include="generalComponents :: headerContent"></span>
</header>
<div class="container main">
    <div class="container second">
        <h1>Basics</h1>
        <h2>How to get a SmileyCoin Wallet</h2>
        <h2>How to send a transaction</h2>
        <h2>How to write data into the blockchain</h2>
        <h2>How to set up a multisig address</h2>
    </div>
</div>
<th:block th:insert="generalComponents :: footer"> </th:block>
</body>
</html>
</html>