

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
  <title></title>
</head>
<body>
<ul th:fragment="headerContent">
  <a th:href="@{/}" class="button">Home</a>
  <a th:href="@{/about}" class="button">About Smiley</a>
  <a th:href="@{/basics}" class="button">Basics</a>
  <a th:href="@{/quiz}" class="button">Quiz</a>
  <a th:href="@{/related}" class="button">Related</a>
  <a th:href="@{/team}" class="button">About us</a>
</ul>
<table>

</table>

<form>

</form>

<footer th:fragment="footer"></footer>
</body>
</html>