<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
    <title>The team</title>
</head>
<body>
<header>
    <span th:include="generalComponents :: headerContent"></span>
</header>
<div class="container main">
    <div class="container second">
        <h1>About us</h1>
        <h2>This is a final project in the Cryptocurrency course at the University of Iceland, for fall 2021.</h2>
        <h4>Jenný Hildur Ómarsdóttir</h4>
        <h4>Katja Nikole Vernharðsdóttir</h4>
        <h4>Tómas Jónsson</h4>
    </div>
</div>
<th:block th:insert="generalComponents :: footer"> </th:block>
</body>
</html>
</html>