<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/scores.css}"/>
    <title>User Page</title>
  </head>
  <body>
    <header>
      <span th:include="generalComponents :: headerContent"></span>
    </header>
    <div class="container main">
        <div class="container second">
          <h2 class="border2"th:text="'Hello ' + ${loggedInUser.username}"></h2>
          <h2>Welcome to Think About Things, a super amazing quiz game, now lets play!</h2>
          <h2>Pick a one or two player game</h2>
          <form th:action="@{/quiz}" method="post" class="form">
            <input type="submit" class="button" th:name="players" th:field="OnePlayer" th:value="'One Player'"/>
            <input type="submit" class="button" th:name="players" th:field="TwoPlayer" th:value="'Two Player'"/>
          </form>
        </div>
    </div>
    <th:block th:insert="generalComponents :: footer"> </th:block>
  </body>
</html>