<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title>Quiz</title>
    </head>
    <body>

        <header>
            <span th:include="generalComponents :: headerContent"></span>
        </header>

        <div class="container main">
            <div th:switch="${categories}" class="container second">
                <h2 th:case="null" class="container row">No questions yet!</h2>
                <div th:case="*" class="container col">
                    <h2>Pick a category!</h2>
                    <form th:each="c:${categories}" th:action="@{'/category/'+${c.ID}}" method="get" class="container col">
                        <button th:text="${c.categoryName}"></button>
                    </form>
                </div>
                <a th:href="@{/user}" class="button">Back</a>
                <a th:href="@{/}" class="button">Quit</a>
            </div>
        </div>
        <th:block th:insert="generalComponents :: footer"></th:block>
    </body>
</html>